
<div class="container">
  <div class="row">
<div class="col-md-12">
  <body background="/imagenes/15.jpg">
  </body> 

  <h1>Mision</h1>

  <p>Tiendas In es una empresa con valores eticos reconocidos en el mercado, muestraen especialidad calidad , suavidad y confort en calzado para dama y niñas que sastifacen las nesecidades y expectativas de nuestro clientes,contruibimos decididamente con el desarrollo economico y social de la region, practicando un comercio justo,siendo socialmente responsable. Contamos con el talento humano altamente con pensamiento empresarial, comprometidos con los valores institucionales y con nuestro cliente para llegar a su sastifaccion.</p>

  <h2>Vision</h2>

  <p>Tiendas In para el 2018 queremos ser reconocidos en el municipio de Neiva como una empresa lider en la vierdad, la calidad y confort de nuestro productos atrallendo con nuestro esfuerzo y excelencia en el servicio, cada dia mas clientes basados en nuestro compromiso con la responsabilidad social.</p>
</div>
  </div>
</div>