
<body background="imagenes/15.jpg"></body>
<div class="container">
  <div class="row">
<div class="col-md-12">

  <h1>Mision</h1>

  <p>TIENDAS IN ES UNA EMPRESA CON VALORES ETICOS RECONOCIDO EN EL MERCADO, MUESTRA EN ESPECIALIDAD,CALIDAD,SUAVIDAD Y CONFORT EN CALZADO PARA DAMA Y NIÑAS QUE SASTIFACEN LAS NESECIDADES Y EXPECTATIVAS DE NUESTRO CLIENTES, CONTRUIBIMOS DECIDIDAMENTE CON EL DESARROLLO ECONOMICO Y SOCIAL DE LA REGION, PRACTICANDO UN COMERCIO JUSTO, SIENDO SOCIALMENTE RESPONSABLE. CONTAMOS CON EL TALENTO HUMANO ALTAMENTE CON PENSAMIENTO EMPRESARIAL, COMPROMETIDOS CON LOS VALORES INSTITUCIONALES Y CON NUESTRO CLIENTES PARA LLEGAR A SU SASTIFACCION.</p>

  <h2>Vision</h2>
</div>
  </div>
</div>